---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import QuoteEstimator from '../components/QuoteEstimator.astro';
import Services from '../components/Services.astro';
import Clients from '../components/Clients.astro';
import About from '../components/About.astro';
import CallToAction from '../components/CallToAction.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Soluciones Logísticas">
	<Navigation />
	<main>
		<Hero />
		<QuoteEstimator />
		<Services />		
		<About />
		<Clients />		
		<CallToAction />
		<Contact />		
	</main>
	<Footer />
</Layout>
